.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    border: 2px solid rgba(120, 52, 10, 0.785);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 237, 218);
}

.team-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    gap: 1px;
}

.team-slot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 25%; /* これで横に4つ並べます */
    margin: 0; /* 隙間をなくします */
    padding: 10px;
    border-radius: 5px;
    background-color: #deb68b;
    /* box-shadow: 0 4px 8px hsl(0, 0%, 100%); */
    box-sizing: border-box;
}

.team-slot, .support-slot {
    width: 100%;
    padding-top: 100%; /* 正方形にする */
    position: relative;
    border: 1px solid rgb(132, 95, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f8f9fa;
    border-radius: 5px;
    overflow: hidden;
}

.team-slot img, .support-slot img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.support-slot {
    width: 0;
    height: 0;
    padding: 40%;
}

.character-list {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
    border: 2px solid #000;
    overflow-y: auto;
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.attribute-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.attribute-buttons button {
    width: 18%;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* 黒い縁取りを追加 */
}

.attribute-buttons .fire {
    background-color: red;
}

.attribute-buttons .water {
    background-color: darkblue;
}

.attribute-buttons .wind {
    background-color: yellowgreen;
}

.attribute-buttons .light {
    background-color: yellow;
}

.attribute-buttons .dark {
    background-color: rebeccapurple;
}

.character-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.character-item {
    width: calc(16% - 0px); /* 5キャラを横一列に表示 */
    cursor: pointer;
    text-align: center;
}

.character-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f8f9fa;
}
